<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  </head>
  <body>
  <div class="container" style="opacity: 0.8;">
  <h1 style="color: #DBDFEA; font-size: 80px; text-align: center;">Walk with Paws</h1>
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <div class="card text-center" style="width: 18rem; height: 20rem;">
        <div class="card-header">
          <h2>Welcome {{user_email1}}</h2>
        </div>
        <div class="card-body">
          <form class="" action="/welcome" method="post">
            <h3>Make Donation:</h3>
            <input type="number" name="user_email" placeholder="10000">
            <br>
            <br>
            <button type="submit" class="btn btn-secondary" name="button">Pay</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  </body>
</html>
